*.egg-info/
.ipynb_checkpoints/
__pychache__/
*.pyc
dist/
build/
.DS_Store
nextclade/nextclade
data_download/*sra_data*/
data_download/output/
data_download/archive_output/
cecret_working_directory/
extracted_sra_data/
vbyi1n05chlbah2fmcuts5nwegyxyzxb.xz
y5nke4x985rtt4li4t4xlue6lffndtq3.xz
scripts/*output
